
/*
.navbar {
    background-color: rgb(0, 136, 57) !important;
}
*/

.search-area {
    padding-top: 30px;
    color: blue;
}

.no-right-padding {
    padding-right: 10px !important;
    padding-bottom: 10px !important;
}

.no-left-padding {
    padding-left: 0px !important;
    padding-top: 5px !important;
}

.results-block {
    display: inline-block;
}

.logout-button {
    margin-right: 5px;
}